body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.color-orange {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 30px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 90%;
}
.button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 100px;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
p {
  text-align: justify;
  padding-right: 20px;
}
.experience-item {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin: 0 5%;
  padding-left: 20px;
  border-radius: 20px;
}
#full-stack-web-dev {
  border-left: 8px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
#baby-web-dev {
  border-left: 8px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer {
  margin-top: 100px;
}
footer p {
  text-align: center;
}
